/* 作用：变量和工具函数 */
/* 注意: 可导入到各组件中使用 */
/* 作用：变量定义 */
/* 清楚浮动  */
/* 省略号 */
/*循环函数*/
/*生成gap间距的工具类函数*/
.opt-layout-main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f9fb;
}
.opt-layout-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 0 8px;
  background: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(225, 229, 234, 0.45);
  color: #888888;
  box-sizing: border-box;
}
.opt-layout-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 52px;
}
.opt-layout-sider {
  width: 230px;
  height: 100%;
  float: left;
}
.opt-layout-content {
  height: 100%;
  margin-left: 230px;
  transition: margin-left 0.2s ease-in-out;
}
